body {
    background-color: #f8f8f8;
}

.logo {
    height: 100px;
    border-radius: 10%;
}

#menu li {
    font-size: 20px;
    font-style: italic;
    font-family: Arial, sans-serif;
    list-style-type: none;
}

#menu li a {
    color: darkred;
    text-decoration: none;
}

#menu li a:hover {
    color: chocolate;
}

.item {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.shortdesc {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.detail {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.chars li {
    color: green;
    font-size: 15px;
    list-style: url(img/finger.png);
}

input[type="text"], input[type="email"], textarea {
    width: 300px;
    color: sandybrown;
    font-size: 14px;
    font-style: italic;
    text-transform: capitalize;
}

input[type="text"], input[type="email"] {
    height: 20px;
}

input[type="email"]:focus {
    color: cornsilk;
    background-color: blueviolet;
}

a > img {
    outline: 3px orange solid;
}

a > img:hover {
    outline: none;
}

.specs {
    border-collapse: collapse;
    border-color: black;
    border-style: solid;
    border-width: thin;
    width: 100%;
}

.specs td {
    border: solid cadetblue 1px;
    background-color: lightcyan;
    color: cadetblue;
    font-family: "Tahoma", sans-serif;
}

.specs tr {
    height: 30px;
    text-align: center;
}

.specs tr:first-child {
    height: 60px;
}

.shortdesc:first-letter,
.detail:first-letter {
    font-size: 2em;
    font-family: cursive;
}